<!-- When the language icon is clicked in the top left of the nav bar the user will
be redirected to the specific language page. Where the user can then see the
three difficulties they can choose from. When a difficulty is clicked the user is
redirected to the daily exercise for that difficulty of that language. -->




<section class="four-up-feature">
  <div class="row four-up-feature-header align-center">
    <div class="small-8 large-centered columns">
      <h2 class="title">
        <%= @language.name%>
      </h2>
    </div>
  </div>
    <div class="row align-center">

      <% @exercises.each do |exercise| %>
        <div class="small-6 large-4 columns">
          <a href="/languages/<%= @language.id %>/exercises/<%= exercise.id %>">
            <!-- <img class="four-up-feature-image" src="http://ianthekirkland.com/imgs/ruby-flat-icn.png" alt="icon"> -->
              <h4> <%= exercise.difficulty %> </h4>
          </a>
        </div>
      <% end %>

    </div>
</section>
