<!-- When the language icon is clicked in the top left of the nav bar the user will
be redirected to the specific language page. Where the user can then see the
three difficulties they can choose from. When a difficulty is clicked the user is
redirected to the daily exercise for that difficulty of that language. -->




<section class="four-up-feature">
  <div class="row four-up-feature-header align-center">
    <div class="small-8 large-centered columns">
      <h2 class="title"> <%= @language.name%> </h2>

    </div>
  </div>
  <div class="row align-center">
    <div class="small-6 large-4 columns">
      <a href="/exercises/1">
        <!-- <img class="four-up-feature-image" src="http://ianthekirkland.com/imgs/ruby-flat-icn.png" alt="icon"> -->
          <h4>Easy</h4>
      </a>
      <!-- <h4>Easy</h4> -->
      <p class="four-up-feature-text">Good start if a new developer!</p>
    </div>
    <div class="small-6 large-4 columns">
      <a href="/exercises/2">
        <!-- <img class="four-up-feature-image" src="http://ianthekirkland.com/imgs/ruby-flat-icn.png" alt="icon"> -->
          <h4>Medium</h4>
      </a>
      <!-- <h4>Medium</h4> -->
      <p class="four-up-feature-text">Great to continue your abilities! </p>
    </div>
    <div class="small-6 large-4 columns">
      <a href="/exercises/3">
        <!-- <img class="four-up-feature-image" src="http://ianthekirkland.com/imgs/ruby-flat-icn.png" alt="icon"> -->
        <h4>Hard</h4>
      </a>
      <!-- <h4>Hard</h4> -->
      <p class="four-up-feature-text">Great Challenge for a professional!</p>
    </div>
  </div>
</section>
