<% if current_user != nil && current_user.admin %>
<h3 id="users_list">Users List:</h3>
<div>
  <% @users.each do |user| %>
    <div class="box" id="users_box">
      <%= link_to user.username, user, :id => "username_text"%><br>
    </div>
  <% end %>
</div>


<% else %>

<h1>WHOOPS you must be an admin to view this page</h1>


<% end %>
