<% if current_user != nil && current_user.admin %>

<div class="user_index_box">

<% @users.each do |user| %>
<%= link_to user.username, user%><br>
<% end %>
</div>


<% else %>

<h1>WHOOPS you must be an admin to view this page</h1>


<% end %>
