<% if current_user != nil && current_user.admin %>
<div class="user_show_box">
<%= @user.username %>

 <%= link_to "destroy", @user, method: :delete,
    data: { confirm: "You sure?" } %>

<% else %>
</div>
<h1>WHOOPS you must be an admin to view this page</h1>


<% end %>
